/* Custom Properties */

:root {
    --primery-background-color: #FFFFFF;
    --hero-background-color: #2E2F42;
    --hero-title-color: #ffffff;
    --footer-background-color: #2E2F42;
    --primery-font-family: Roboto, sans-serif;
    --primery-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --button-text-color: #ffffff;
    --footer-text-color: #E7E9FC;
    --footer-logo-color: #F4F4FD;
    --button-potfolio-text: #4D5AE5;
    --button-potfolio-text-accent: #FFFFFF;
    --primery-text-size: 16px;
    --primery-line-height: 1.5;
    --accent-color: #404BBF;
    --nav-logo-color: #4D5AE5;
    --button-color: #4D5AE5;
    --button-color-accent: #404BBF;
    --button-border-color-portfolio: #E7E9FC;
    --preimery-letter-spacing: 0.02em;
    --portfolio-background-button-color: #F4F4FD;
    --portfolio-background-button-color-accent: #404BBF;
    --footer-social-icon-hover-bgc: #31D0AA;
    --team-social-icon-bgc: #4D5AE5;
    --team-social-icon-hover-bgc: #404BBF;
    --social-icon-color: #F4F4FD;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --time-transition: 250ms
}

.page {
    font-family: var(--primery-font-family);
    font-size: var(--primery-text-size);
    color: var(--primery-text-color);
    line-height: var(--primery-line-height);
    background-color: var(--primery-background-color);
    letter-spacing: var(--preimery-letter-spacing);
}

img {
    display: block;
}

button {
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

.container {
    width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section-padding {
    padding-bottom: 120px;
    padding-top: 120px;
}

.button {
    border: 1px solid transparent;
}

/* Header */

.header {
    border-bottom: 1px solid #E7E9FC;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    color: inherit;
}

.color-logo {
    color: var(--nav-logo-color);
}

.nav-list {
    display: flex;
    margin-left: 76px;
}

.nav-item {
    font-weight: 500;
}



.nav-item:not(:last-child) {
    margin-right: 40px;
}

.nav-item:hover,
.nav-item:focus {
    color: var(--accent-color);
}

.nav-item>.current {
    color: var(--accent-color);
}

.nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: inherit;
}

.nav-link.current::after {
    content: '';
    display: block;
    width: 100%;
    position: relative;
    top: 25px;
    height: 4px;
    border-radius: 2px;

    background-color: var(--accent-color);

}

.contacts-list {
    display: flex;
    margin-left: auto;
}

.contacts-item:not(:last-child) {
    margin-right: 40px;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}


.contacts-link {
    padding-bottom: 24px;
    padding-top: 24px;

    color: var(--secondary-text-color);
}

/* Hero */
/* Поставили по центру заголовок та кнопку секції Hero */
.hero {
    max-width: 1440px;
    height: 515px;
    text-align: center;
    padding-bottom: 188px;
    padding-top: 188px;

    background-color: #2E2F42B2;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero_img.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.hero-title {
    color: var(--button-text-color);

    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;

    margin-bottom: 48px;
}

.hero-button {
    color: var(--button-text-color);
    background-color: var(--button-color);
    font-weight: 500;

    padding: 16px 32px;
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--button-color-accent);
}

/*  advantages*/
.advantages-list {
    display: flex;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;

    margin-bottom: 72px;
}

.advantages-item::before {
    content: '';
    display: inline-flex;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    padding: 24px 100px;

    background-color: #F4F4FD;
}

.advantages-item:nth-child(1)::before {
    background-image: url(../images/strategy.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.advantages-item:nth-child(2)::before {
    background-image: url(../images/clock.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-diligens::before {
    background-image: url(../images/diagram.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.advantages-item:last-child::before {
    background-image: url(../images/astronaut.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.advantages-item:not(:last-child) {
    margin-right: 24px;
}

.advantages-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

    margin-bottom: 8px;
}

.advantages-item-text {
    color: var(--secondary-text-color);
}

/* Works */
.works {
    padding-bottom: 120px;
}

/* Team */
.team {
    background-color: #F4F4FD;

}

.team-list {
    display: flex;
}

.team-item {
    box-shadow: 0px 2px 1px 0px #2E2F4214, 0px 1px 1px 0px #2E2F4229, 0px 1px 6px 0px #2E2F4214;
}

.team-item+.team-item {
    margin-left: 24px;
}

.team-foto {
    margin-bottom: 32px;
}

.team-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;

    margin-bottom: 8px;
}

.team-list-text {
    margin-bottom: 8px;

    color: var(--secondary-text-color);
    text-align: center;
}

.social-media-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.social-media-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--team-social-icon-bgc);

}

.social-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--social-icon-color);
}

.social-media-item+.social-media-item {
    margin-left: 24px;
}

.team-socia-media-item:hover,
.team-socia-media-item:hover {
    background-color: var(--team-social-icon-hover-bgc);
}

.team-icon {
    fill: currentColor;
}

/* Works */
.works-flex {
    display: flex;
}

.works-item+.works-item {
    margin-left: 24px;
}

/* Customers */

.customers-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customers-item {
    width: 168px;
    height: 88px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
}

.customers-item+.customers-item {
    margin-left: 24px;
}

.customers-item:hover {
    border-color: var(--accent-color);
}

.customers-logo {
    fill: currentColor;
}

.customers-item:hover .customers-logo {
    fill: teal;
}

.customers-link {
    display: inline-flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #8E8F99;
}

/* Footer */

.footer {
    background-color: var(--footer-background-color);
}

.footer-padding {
    padding-bottom: 100px;
    padding-top: 100px;
}

.footer-container {
    display: flex;
}

.footer-geometriy {
    margin-right: 120px;
}

.logo-margin {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer {
    color: var(--footer-logo-color);
}

.footer-text {
    color: var(--footer-text-color);
}

.footer-list-title {
    margin-bottom: 16px;
    font-size: inherit;
    line-height: inherit;
    font-weight: 500;
    color: #ffffff;
}

.footer-socia-media-item:hover,
.footer-socia-media-item:focus {
    background-color: var(--footer-social-icon-hover-bgc);
}


.footer-socia-media-item+.footer-socia-media-item {
    margin-left: 24px;
}

/* PORTFOLIO */

.filter {
    padding-top: 96px;
    padding-bottom: 72px;

    text-align: center;
}

.filter-list {
    display: flex;
    justify-content: center;
}

.filter-item+.filter-item {
    margin-left: 24px;
}

.filter-button {
    color: var(--button-potfolio-text);
    background-color: var(--portfolio-background-button-color);

    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;

    padding: 12px 24px;
    border-radius: 4px;
    border-color: var(--button-border-color-portfolio);
}

.filter-button:focus,
.filter-button:hover {
    color: var(--button-potfolio-text-accent);
    background-color: var(--portfolio-background-button-color-accent);
}


.examples {
    padding-bottom: 120px;
}

.examples-list {
    display: flex;
    flex-wrap: wrap;

    margin: -12px;
}

.examples-item {
    margin: 12px 12px;
    padding-bottom: 32px;

    border: 1px solid #E7E9FC
}

.examples-link {
    color: inherit;
}

.examples-foto {
    margin-bottom: 32px;
}

.border-card {
    padding-left: 16px;
}

.examples-title {
    margin-bottom: 8px;

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.examples-text {
    color: var(--secondary-text-color);

}


/* Movecard */

.thumb {
    position: relative;
}

.overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translate(100%);
    padding-top: 40px;
    padding-right: 32px;
    padding-left: 32px;
    color: var(--social-icon-color);
    background-color: #4D5AE5;

    opacity: 0;

}

/* .thumb-text {
    color: var(--social-icon-color);
} */

.examples-item:hover {
    border: 1px solid #F4F4FD;
    box-shadow: 0px 2px 1px 0px #2E2F4214, 0px 1px 1px 0px #2E2F4229, 0px 1px 6px 0px #2E2F4214;
    transition: box-shadow var(--time-transition) var(--cubic);
}

.examples-item:hover .overlay {
    opacity: 1;
    transform: translate(0);
}